<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teams" href="/teams">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matchdays" href="/matchdays">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Matchdays</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/ranking">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
